@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Katibeh&family=Lobster&display=swap');


/* Estilos generales start */
* {
    font-family: 'Katibeh';
}

a {
    text-decoration: none !important;
}

.icon {
    width: 30px;
    height: 30px;
}

.show-content {
    display: flex !important;
    transition: all 0.5s ease-in-out;
}

.activate-action {
    fill: #B6B6B6 !important;
}

.action-btn {
    background: transparent;
    border: none;
    cursor: pointer;
}

.actions {
    display: flex;
    flex-direction: r;
    flex-wrap: nowrap;
}


/* Estilos generales end */

/* Header start */
.navbar-top {
    width: 76%;
    margin-left: 12%;
    margin-top: 10px;
    border-radius: 15px;
    height: 20%;
    background-color: #5B5B5B !important;
}

.container-search {
    margin-left: 23%;
    width: 40%;
}

.title {
    font-size: 22px !important;
    padding-top: 0 !important;
}

.input-search {
    margin-left: 10px;
    border-radius: 15px !important;
    background-color: #B6B6B6 !important;
    border: none !important;
    color: #E3E3E3 !important;
}
/* Header end */

/* Contenido del cuerpo start */

.content-body {
    background: linear-gradient(to bottom, #5B5B5B 0%, #898989 30%, #898989 100%);
    height: 74%;
    border-radius: 15px;
    display: flex;
    position: absolute;
    flex-direction: column;
    flex-wrap: wrap;
    top: 12%;
    width: 90%;
    margin-left: 80px;
    margin-right: 10px;
    z-index: 1;
}

/* Lista de canciones start */
.content-list-song {
    display: none;
    position: absolute;
    flex-direction: column;
    width: 100%;
    margin-left: 2%;
    flex: 1;
}

.content-list-song > h2 {
    color: #FFFFFF;
    font-size: 50px;
    z-index: -1;
    flex: 1;
}

.row-songs {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    gap: 7px;
}

.col-song > a {
    text-decoration: none;
}

.item-song {
    display: flex;
    border-radius: 10px;
    background-color: #B6B6B6;
    width: 190px;
    height: 35px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3), 0 0 20px rgba(0, 0, 0, 0.2);
}

.btn-hover-action-song {
    display: none;
    position: relative;
    background: transparent;
    border: none;
    width: 25px;
    height: 25px; 
    top: 4px;
    left: 18px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-hover-action-song > img {
    display: inline;
    position: relative;
    border: none;
    width: 25px;
    height: 25px; 
    border-radius: 5px;
    cursor: pointer;
}

.item-song:hover .btn-hover-action-song {
    display: inline;
}

.info-song-container {
    flex-direction: column;
    flex-wrap: nowrap;
    height: 20px;
    z-index: 3;
    margin-top: -4px;
    margin-left: 3px;
}

.info-song-container > span {
    display: inline;
    color: #E3E3E3;
    text-align: start;
    margin-bottom: -12px;
}

/* Lista de canciones end */

/* Contenido del cuerpo end */

/* Reproductor start */

.content-player {
    background-color: #898989;
    width: 90%;
    height: 75px;
    display: flex;
    position: fixed;
    top: 88%;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 80px;
    margin-right: 10px;
    border-radius: 15px 15px 0 0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3), 0 0 20px rgba(0, 0, 0, 0.2);
}

.content-info-player {
    flex-direction: column;
    margin-left: 5px;
    margin-top: 8px;
}

.content-info-player > span {
    color: #E3E3E3;
    text-align: start;
    margin-bottom: -10px;
    margin-left: 10px;
    font-size: 20px;
}

.imgen-player {
    width: 80px;
    height: 82px;
    border-top-left-radius: 15px;
}

.favorite-icon-player {
    width: 30px;
    height: 30px;
    margin-top: 23px;
    margin-left: 10px;
}

.container-actions-player {
    flex: 1;
    width: 100%;
}

.container-actions {
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    top: 6%;
    left: 25%;
}

.slider_container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    left: 5%;
    position: relative;
}

.seek_slider {
    -webkit-appearance: none;
    width: 400px;
    height: 7px;
    background: #5B5B5B;
    outline: none;
    border-radius: 15px;
    overflow: hidden;
}
    
.seek_slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #B6B6B6;
    cursor: pointer;
    box-shadow: -407px 0 0 400px #B6B6B6;
}

.seek_slider:focus {
    outline: none;
}

.seek_slider:hover,
.volume_slider:hover{
    opacity: 1.0;
}

.current-time,
#totalDuration{
    padding: 0 10px;
}

.volume-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    margin-bottom: -15px;
    left: 77%;
    top: -25%;
    position: relative;
    gap: 5px;
}
/* Reproductor end */

/* Navegacion lateral start */
.navbar-lateral {
    border-radius: 10px;
    background-color: #898989 !important;
    height: 160px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3), 0 0 20px rgba(0, 0, 0, 0.2);
}


.navbar-lateral-header {
    background-color: #5B5B5B !important;
    width: 60px;
    height: 45px;
    padding: 8px 15px;
    border-radius: 10px 10px 0 0;
    text-decoration: none;
}

.navbar-lateral-header.open-lateral {
    width: 140px;
    font-size: 20px;
    z-index: 10;
}

.navbar-lateral.open-lateral {
    position: relative;
    width: 140px;
    z-index: 18;
}

.navbar-lateral-close {
    width: 60px;
    margin-left: 7px;
    margin-top: 1%;
}

.navbar-lateral-list {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    flex-wrap: wrap;
    list-style: none;
    margin-bottom: 0;
}

.navbar-lateral-list-item {
    padding: 9px 15px;
    font-size: 20px;
}
.navbar-lateral-list-item.open-lateral {
    padding: 9px 15px;
    list-style: none;
}

.item-text, .header-text {
    text-decoration: none;
    margin-left: 5px;
    color: #E3E3E3;
    display: none;
}

.item-text.open-lateral {
    display: inline;
}

.header-text.expande {
    display: inline;
}